.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



body{
    display: flex;
    justify-content: center; /*pour le mettre au milieu*/
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/darknight.jpg); /*image de fond*/
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    margin-left: 20px;
    font-size:  xx-large;
    font-weight: 100;
    text-align: center;
    color: aliceblue;
}

div#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to right, rgb(59, 59, 59) , rgb(0, 0, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigations{
    margin-left: 50%;
}
.navigations a{
    position: relative;
    font-size: 1.2em; /*pour configurer la taille des mots dans navigations*/
    color: aliceblue;
    font-weight: 250; /*pour mettre les mots plus gras*/
    text-decoration: none ;
    margin-left: 35px;
}
.navigations a::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background: whitesmoke;
    border-radius: 5px;
    left: 0; /*pourqu'il débute avec les mots(cesliens)*/
    bottom: -6px; /*pour bien regler la distance entre les liens et les lignes en dessous*/
    transform: scaleX(0);
    transition: transform .5s;
}
.navigations a:hover::after {
    transform: scaleX(1);
}
.navigations .btnlogin{
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    height: 40px;
    text-align: center;
    background: transparent;
    color: aliceblue;
    border-radius: 10px;
    font-size: larger; 
    margin-left: 30px;
    cursor: pointer; /*permet de changer le curseur lorsqu'il s'envole au dessus(le pointeur change de forme*/
    transition: .5%;
    margin-right: 35px;
}
.navigations .btnlogin:hover{
    background: hwb(0 99% 0%);
    color: rgb(0, 0, 0);
    /*les changements qui se produisent quand le curseur est au dessus du bouton*/ 
}


.wrapper{
    width: 500px; height: auto; /*largeur de notre...box! où on travail*/
    background: transparent;
    color: #fff;
    border-radius: 50px; /*pour que l'angle de ce truc n'est pas droit(j'sais pas commment expliquer ça mais  vous voyez que c'est le cas*/
    box-shadow: 0 0 45px rgb(1, 24, 151);/*pour mettre la lumière bleu autour*/
    padding-bottom: 25px;
    backdrop-filter: blur(5px);
}
.wrapper #unlock{
    font-size:  40px;
    text-decoration: double;
    align-self: center;
}
.wrapper h1{
    font-size:  40px;
    text-align: center;
    color: #fff;
}
.wrapper h3{
    font-size:  30px;
    text-align: center;
    color: rgb(148, 148, 151);
}
.wrapper .input-box{
    position: relative;
    width: 70%; /*largeur des champs à remplir*/
    height: auto;
    margin: 17px 0;
    align-items: center;
    margin-left: 35px;
}



.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent; /*pour mettre transparent les fonds de ces champs*/
    border: 5px solide whitesmoke; /*bordure de ces derniers*/
    outline: none;
    border-radius: 20px;
    font-size: 17px;
    color: #fff;
    padding: 20px 45px 20px 20px; /*marge interne des éléments dans ces champs(les deux formulaires)*/
}
.input-box input::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: -35px;   /*pour regler la position des icons suivant l'axe des abscisses(horizontalement)*/
    font-size: 25px;    /*taille de ces icons*/
    transform: translateY(-175%);   /* pour regler la position de ces icons suivant l'axe des ordonnées(verticalement)*/
}
.input-box{
    text-align: left;
    margin-left: 20px;
}





.button{
    color: #ffffff; /*couleur des mots dans les boutons*/
    margin-left: 150px; /*pour mettre les boutons centrés*/
    margin-bottom: 15px; /*espace en bas des boutons*/
    margin-top: 15px;
    width: 200px; /*largeur de ces deux bouttons*/
    height: 35px; /*hauteur de ces deux bouttons*/
    border-radius: 35px ; /*the corner*/
    background: linear-gradient(to right, rgb(0, 0, 0) , rgb(47, 32, 131) , rgb(17, 0, 116), rgb(17, 16, 17));
    outline: none;
    position: relative;
    z-index: 0;
}
.sign{
    color: #ffffff; /*couleur des mots dans les boutons*/
    margin-left: 150px; /*pour mettre les boutons centrés*/
    margin-bottom: 15px; /*espace en bas des boutons*/
    margin-top: 15px;
    width: 200px; /*largeur de ces deux bouttons*/
    height: 35px; /*hauteur de ces deux bouttons*/
    border-radius: 35px ; /*the corner*/
    background: transparent;
}
.button::before{
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    background-color: rgb(3, 3, 226);
    left: 0;
    top: 0;
}
.button::after{
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% * 4px);
    height: calc(100% * 4px);
    filter: blur(10px);
}




.sijamais{
    margin: 10px;
    font-size: large;
    text-align: center;
    color: #fffffffb;
    text-transform: capitalize;
    text-shadow: 1 2 10px #3003f8;
}
.ep{
    margin-left: 30px;
    ;
}
#forgot{
    margin-left: 136px;
    text-size-adjust: initial;
}