*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    position: fixed;
    min-height: 100vh;
    background-image: url(../images/black.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}



h1{
    font-size: xx-large;
    font-weight: 100;
    color: aliceblue;
    margin-left: 20px;
}

div#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(to right, rgb(59, 59, 59) , rgb(0, 0, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navigations{
    margin-left: 55%;
}
.navigations a{
    position: relative;
    font-size: 1.2em; /*pour configurer la taille des mots dans navigations*/
    color: aliceblue;
    font-weight: 250; /*pour mettre les mots plus gras*/
    text-decoration: none ;
    margin-left: 35px;
}
.navigations a::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background: whitesmoke;
    border-radius: 5px;
    left: 0; /*pourqu'il débute avec les mots(cesliens)*/
    bottom: -6px; /*pour bien regler la distance entre les liens et les lignes en dessous*/
    transform: scaleX(0);
    transition: transform .5s;
}
.navigations a:hover::after {
    transform: scaleX(1);
}
.navigations .btnlogin{
    width: 100px;
    height: 40px;
    text-align: center;
    background: transparent;
    font-size: 1.1em; 
    color: aliceblue;
    border-radius: 10px;
    font-weight: 50; 
    margin-left: 30px;
    cursor: pointer; /*permet de changer le curseur lorsqu'il s'envole au dessus(le pointeur change de forme*/
    font-size: 1.1em;
    font-weight: 900;
    transition: .5%;
    margin-right: 35px;
}
.navigations .btnlogin:hover{
    background: hwb(0 99% 0%);
    color: rgb(0, 0, 0);
    /*les changements qui se produisent quand le curseur est au dessus du bouton*/ 
}


main{
    display: flex;
    justify-content: left;
}
.content{
    display: flex;
    width: 45%;
    height: 33%;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 100;
    border-left-color: black;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0 100px 100px 0;
    background: transparent;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 15px 15px;
    box-shadow: 5px 5px 45px #f2f3fa;
}
.content p{
    text-indent: 50px;
}

section{
    display: flex;
    align-items: center;
    margin-left: 75%;
}

div#choix{
    display: flex;
    margin-top: 23%;
    width: 350px;
    height: 350px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 50% 50%;
    background: transparent;
    box-shadow: 5px 5px 45px #f2f3fa;
}



.footer{ 
    display: flex;
    gap: 55px;
    margin-top: 3%;
    background: transparent;
    border: none;
    backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: aliceblue;
}
 a{
    color: blue;
}
footer a:hover{
    color: rgb(74, 255, 19);
}
footer a:visited{
    color: rgb(251, 255, 5);
}
#login:hover{
    background-color: transparent;
    border: 1px solid  silver;
    border-radius: 8px;
    transform: none;
    transition: none;
}

