*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column; /* Aligne la calculatrice et la version verticalement */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espace propre entre la calculatrice et le texte du bas */
    min-height: 100vh;
    background: linear-gradient(to left, rgb(56, 54, 54), rgb(121, 120, 120), rgb(55, 55, 56));
}

#champ{
    width: 100%;
    padding: 15px;
    font-size: 3rem;/*taille du nombre(peut être des textes)*/
    color: aliceblue;
    text-align: left;
    background-color: rgb(77, 77, 77);
    border: none;

}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
    width: 100%;
    max-width: 400px;
    border: 2px solid rgb(0, 206, 195);
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
    box-shadow: 7px 7px 25px rgba(1, 3, 139, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: aliceblue;
}

button{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: none;
    background-color: rgba(61, 61, 61, 0.575);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(119, 119, 119);
}
button:active{
    background-color: rgb(173, 170, 170);
}

.Afaire{
    display: grid;
    grid-template-columns: repeat(4, 1fr);/*Pour les alignés dans une colonne en utilisant la fonction CSS repeat (nombre des colonnes,pour preéciser l'alignement)*/
    gap: 10px;
    padding: 25px;
    color: whitesmoke;
    font-size: larger;
    text-align: center;
}

.operation{
    background-color: rgb(255, 123, 0);
}
.operation:hover{
    background-color: rgb(255, 167, 4);
}
.operation:active{
    background-color: rgb(252, 208, 16);
}

.version {
    color: rgb(200, 200, 200);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-align: center;
}